body {
  font-family: sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  min-height: 70px;
  background-color: greenyellow;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}
nav a:hover {
  color: white;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}

/*----contenido*/
.imagen-1 {
  width: 500px;
  height: 250px;
  margin-right: 10px;
}
.imagen-2 {
  width: 500px;
  height: 250px;
  margin-left: 10px;
}
.imagen-3 {
  width: 500px;
}
.contenedor {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  color: orange;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contenido h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*----pie de pagina*/

.pie-pagina {
  width: 100%;
  background-color: greenyellow;
  font-family: "Open Sans", sans-serif;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: black;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: white;
}
.pie-pagina .grupo-2 {
  background-color: green;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
